.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.app-header {
  background-color: #282c34;
  padding: 20px;
  text-align: center;
  color: white;
}

.map-container {
  height: 100vh;
  width: 100%;
  border: 2px solid red; 
}

.leaflet-container {
  background: transparent;
  font-family: 'Arial', sans-serif;
}

.leaflet-control-zoom, .leaflet-control-layers, .leaflet-bar a, .leaflet-bar a:hover {
  background-image: url(https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/images/);
  color: #333;
}


/* If you don't need the following styles, feel free to remove them */
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
